
@import './../../Stylies/Animations.scss';

.header-logo{
    opacity: 0;
    @extend .ani-show-opacity;
    animation-duration: 1s;

    a{
        width: 100%;
        font-size: 1.1rem;
        font-weight: bolder;
        text-decoration:none;
        color: rgb(255, 255, 255);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .logo-text{
        position: relative;
        font-family: Arial, Helvetica, sans-serif;
    }
    .logo-text::after{
        content: "";
        position: absolute;
        width: 100%;
        bottom: -0.2em;
        left: -100%;
        right: 0;
        height: 0.2em;
        background-color: rgb(255, 0, 0);
        transform: skewX(-36deg);
        animation: show-line-multiple-times 1s ease 3 forwards;
        transition: all 0.25s ease;
        z-index: -2;
    }
    
    img{
        width: 3em;
        height: 3em;
        object-fit: contain;
    }
}
.logo-text:hover::after{
    background-color: rgb(255, 0, 0);
    animation-iteration-count: infinite;
}
@keyframes show-line-multiple-times {
    from{
        left: 0;
        opacity: 1;
    }
    49%{
        left: 100%;
        opacity: 0;
    }
    50%{
        left: -100%;
        opacity: 1;
    }
    to{
        left: 0%;
        opacity: 1;
    }
}